.calendar-container {
    position: relative;
}

.calendar-wrapper {
    z-index: 60;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #d3c68c;
}

.calendar-container .row {
    display: flex;
}

.calendar-container--left .calendar-wrapper {
    left: 0;
    transform: translateX(0);
}

.calendar {
    color: #665800;
    font-size: 18px;
    background-color: var(--clr-semi-white);
    width: 340px;
}

.calendar + .calendar {
    border-left: 1px solid #d3c68c;
}

.calendar select {
    color: inherit;
}

.calendar > *:not(:last-child) {
    /*border-bottom: 1px solid #d3c68c;*/
}

.calendar .icon {
    cursor: pointer;
}

.calendar__year {
}

.calendar__year,
.calendar__month {
    padding-block: 5px;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar__weekdays,
.calendar__days {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
}

.calendar__year,
.calendar__month,
.calendar__weekdays {
    border-bottom: 1px solid #d3c68c;
}

.calendar__weekdays > *,
.calendar__days > * {
    display: grid;
    place-content: center;
    padding-block: 5px;
}

.calendar__days > * {
    border-right: 1px solid #d3c68c;
    border-bottom: 1px solid #d3c68c;
}

.calendar__days > *:nth-child(7n) {
    border-right: none;
}

.calendar__days > .available {
    background-color: var(--clr-light);
    cursor: pointer;
    transition: .3s;
}

.calendar__days > .selected {
    background-color: var(--clr-yellow);
}

@media (hover: hover) {
    .calendar__days > .available:hover {
        background-color: #cfcfcf;
    }
    .calendar__days > .selected:hover {
        background-color: var(--clr-yellow);
    }
}

.calendar__submit-btn {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-block: 5px;
    background-color: red;
    color: #fff !important;
}