/* ------------------------ */
/* Custom properties        */
/* ------------------------ */

:root {

    --clr-yellow: #fede31;
    --clr-light: #fbf7da;
    --clr-brown: #665800;
    --clr-green: #8CAE59;
    --clr-blue: #0088D2;
    --clr-gray: #BEBEBE;

    --fz-default: 23px;
}

/* ------------------------ */
/* Reset                    */
/* ------------------------ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove bold style from headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    font-family: 'ZabraProRegular', sans-serif;
    font-size: var(--fz-default);
    background-color: var(--clr-light);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a[class] {
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    padding: 0;
    margin: 0;
    min-width: 0;
    outline: none;
    border: none;
    background-color: transparent;
}

/* remove arrows from number input fields */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ------------------------ */
/* Base                     */
/* ------------------------ */

span:empty {
    margin: 0 !important;
}

input,
select {
    border: 1px solid #E3DCB2;
    border-radius: 5px;
    padding: 0 15px;
}

*[role="checkbox"] {
    cursor: pointer;
}

/* ------------------------ */
/* Utilities                */
/* ------------------------ */

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 30px;
}

.flex {
    display: flex;
}

.flex > *:not(:last-child) {
    margin-right: var(--flex-gap);
}

.grid {
    display: grid;
}

.bottom-line {
    border-bottom: 1px solid var(--clr-gray);
}

.flow > * + * {
    margin-top: var(--flow-gap, 1rem);
}

.avatar-circle {
    border-radius: 50%;
}

.avatar-square {
    border-radius: 6px;
}

.show-on-adv-item-hover {
    opacity: 0;
}

.adv-item:hover .show-on-adv-item-hover {
    opacity: 1;
}

.bg-yellow {
    background-color: var(--clr-light);
}

/* ------------------------ */
/* Components               */
/* ------------------------ */

/* tab-links */
.tab-links .active {
    color: var(--clr-blue);
    border-bottom: 1px solid var(--clr-gray);
}

.tab-links--red .active {
    color: #ff0000;
    border: none;
}

.tab-link span {
    pointer-events: none;
}

/* checkbox */
.checkbox {
    position: relative;
    min-width: var(--checkbox-size, 30px);
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    border-radius: 7px;
    background: linear-gradient(0deg, #E6E6E7 0%, #F4F5F6 100%), #E3DCB2;
}

.checkbox.active .checkbox__inner {
    background-color: #FFDD00;
}

.checkbox__inner {
    width: 13px;
    height: 13px;
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px #E4DDB4;
    padding: 2px;
    background-color: #fff;
    pointer-events: none;
}

/* action-btn */
.action-btn {
    display: block;
    border-radius: 5px;
    background-color: #FFC000;
    color: var(--clr-brown);
    padding: .3em 1.1em;
}

.action-btn--red {
    color: #fff;
    background-color: #FF4949;
}

/* PRIMARY HEADER */
.primary-header {
    min-height: 100px;
    background-color: var(--clr-yellow);
    display: flex;
    flex-direction: column;
}

.primary-header > * {
    flex-grow: 1;
    border-bottom: 1px solid #ffe53b;
}

/* content-header */
.content-header {
    margin: 30px 0;
}
.content-header h1 {
    color: #665800;
    font-family: 'ZabraProMedium', sans-serif;
    font-size: 33px;
}

/* breadcrumb */
.breadcrumb ul {
    display: flex;
}

.breadcrumb a {
    color: #665800;
    text-decoration: none;
    font-size: 23px;
}

.breadcrumb li:not(:last-child) a {
    border-bottom: 1px dotted #463d00;
}

.breadcrumb li:not(:last-child):after {
    color: #665800;
    margin: 0 7px;
    font-size: 23px;
    display: inline-block;
    content: '/';
}

.breadcrumb li:last-child a {
    pointer-events: none;
    text-decoration: none;
}

/* white background on several components */
.filters .container,
.actions.container,
.ads .container {
    background-color: #fff;
}

/* common styles for all filters and actions*/
.filters,
.actions {
    font-size: 18px;

}
.adv-filter-state a,
.adv-filter-type a,
.adv-filter-period a {
    color: var(--clr-brown);
    text-decoration: none;
}

.filters .container {
    padding-top: 15px;
}

/* adv-top-filters */
.adv-top-filters {
    justify-content: space-between;
    flex-wrap: wrap;
}

/* adv-filter-state */
.adv-filter-state ul {
    flex-wrap: wrap;
}

.adv-filter-state a > span + span {
    margin-left: 5px;
}

/* input filters */
.adv-input-filters {
    justify-content: space-between;
    flex-wrap: wrap;
}

.adv-input-filters input,
.adv-input-filters select {
    padding: .3em 1em;
}

.adv-input-filters > * {
    max-width: 350px;
}

.adv-input-filters select {
    height: 100%;
}

.adv-filter-title {
    position: relative;
}

.adv-filter-title span {
    cursor: pointer;
    position: absolute;
    content: '';
    height: 100%;
    aspect-ratio: 1;
    top: 0;
    right: 0;
    background: url('../img/common-icons/search.svg') center / 40% no-repeat;
}

/* adv-filter-periods */
.adv-filter-period {
    padding-bottom: 20px;
}

/* common styles for date and price filters */
.adv-filter-date > input:first-child,
.adv-filter-price > input:first-child {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.adv-filter-date > input:last-child,
.adv-filter-price > input:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* actions */
.actions > .flex {
    justify-content: space-between;
    padding: 16px 0;
}

.action-sort {
    min-width: 350px;
}

/* adv-item */
.adv-item a {
    text-decoration: none;
    border-bottom: 1px dotted;
    font-size: 18px;
}

.adv-item__edit-btns a,
.adv-item__links a {
    color: #ff0000;
}

.adv-item__title {
    color: var(--clr-blue);
    white-space: nowrap;
}

.adv-item__price {
    font-family: 'ZabraProMedium', sans-serif;
}

.adv-item__stats .responses,
.adv-item__stats .matching-vacancies {
    color: var(--clr-blue);
}

@media (hover: hover) {
    .adv-item__stats .views:hover,
    .adv-item__stats .favourites:hover,
    .adv-item__stats .dialogs:hover {
        color: var(--clr-blue);
    }
}

.adv-item__city-list .service-item a,
.adv-item__get-more-responses a {
    color: var(--clr-green);
}

.adv-item__services > *:not(:last-child) {
    border-bottom: 1px solid var(--clr-gray);
}

.growth {
    color: var(--clr-green);
}

/* 'fade' effect on overflowing text */
.ovf-fade {
    position: relative;
    overflow: hidden;
}

.ovf-fade:after {
    position: absolute;
    content: '';
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background:linear-gradient(90deg, transparent 60%, var(--ovf-fade-clr));
}

/* ------------------------ */
/* Layout                   */
/* ------------------------ */

/* ads */

/* ads__field-names */
.ads__field-names {
    column-gap: 1%;
    grid-template-columns: 11% 19% 8% 36% 22%;
    padding: 15px;
}

.ads__field-names span {
    font-size: 16px;
    display: grid;
    line-height: 1;
    align-content: center;
}

.ads__field-names--big {
    display: flex;
    flex-wrap: nowrap;
}

.ads__field-names--big > * {
    width: 100%;
    overflow: hidden;
}

.ads__field-names span:nth-child(1) {
    grid-column: 2 / 3;
}

/* adv-item */
.adv-item {
    grid-template-columns: 3% 7% 19% 8% 36% 22%;
    grid-template-rows: repeat(3, 28px) 1fr;
    column-gap: 1%;
    grid-template-areas:
    'checkbox img left-block city-list stats services'
    'checkbox img left-block city-list get-more-responses services'
    'checkbox img left-block city-list links services'
    '.        .        .    city-list links services';
}

.adv-item {
    line-height: 1.2;
    padding: 30px 15px;
}

.checkbox {
    grid-area: checkbox;
    align-self: center;
}

.adv-item__img {
    grid-area: img;
}

.adv-item__img div {
    border: 1px solid #E3E6E9;
    max-height: 100%;
    aspect-ratio: 1;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.adv-item__left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: left-block;
}

.adv-item__edit-btns {
    --flex-gap: 10px;
    flex-wrap: wrap;
}

.adv-item__city-list {
    position: relative;
    align-self: start;
    grid-area: city-list;
}

.adv-item__city-list > li {
    white-space: nowrap;
}

.adv-item__city-list .service-item {
    position: absolute;
    top: 100%;
}

.adv-item__links {
    justify-self: start;
    position: relative;
    grid-area: links;
}

.adv-item__links .service-item {
    position: absolute;
    margin-left: 20px;
    left: 100%;
}

.adv-item__get-more-responses {
    justify-self: start;
    align-self: center;
    grid-area: get-more-responses;
}

.adv-item__stats {
    grid-area: stats;
}

.adv-item__stats > * {
    width: 100%;
    cursor: default;
}

.adv-item__services {
    grid-area: services;
    place-self: start;
}

.adv-item__services > *:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.adv-item__services > *:first-child {
    padding-top: 4px;
}


/* service */
.service {
    line-height: 1;
    column-gap: 5px;
    display: grid;
    grid-template-areas:
    'icon title'
    'icon period';
}

.service__icon {
    width: 40px;
    aspect-ratio: 1;
    object-fit: contain;
    grid-area: icon;
    place-self: center;
}

.service__title {
    grid-area: title;
}

.service__period {
    grid-area: period;
    font-size: 16px;
}