/* ------------------------ */
/* Custom properties        */
/* ------------------------ */

:root {
    /* COLORS */

    --clr-yellow: #ffdd00;
    --clr-light: #f4f4f4;

}

/* ------------------------ */
/* Reset                    */
/* ------------------------ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove bold style from headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    font-family: 'ZabraProRegular', sans-serif;
    font-size: 1rem;
    background-color: var(--clr-light);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a[class] {
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    padding: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ------------------------ */
/* Utilities                */
/* ------------------------ */

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 10px;
}

@media (min-width: 1470px) {
    .container {
        padding: 0;
    }
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/* ------------------------ */
/* Components               */
/* ------------------------ */

/* PRIMARY HEADER */
.primary-header {
    min-height: 100px;
    background-color: var(--clr-yellow);
    display: flex;
    flex-direction: column;
}

.primary-header > * {
    flex-grow: 1;
    border-bottom: 1px solid #ffe53b;
}

/* adv-item */
.adv-item {
    grid-template-areas:
    'checkbox img title city-list stats services'
    'checkbox img price city-list get-more-responses services'
    'checkbox img edit-btns city-list links services'
    '.        .        .    city-list links services';
}

.adv-item input[type="checkbox"] {
    grid-area: checkbox;
}

.adv-item__img {
    grid-area: img;
}

.adv-item__title {
    grid-area: title;
}

.adv-item__edit-btns {
    grid-area: edit-btns;
}

.adv-item__city-list {
    grid-area: city-list;
}

.adv-item__links {
    grid-area: links;
}

.adv-item__get-more-responses {
    grid-area: get-more-responses;
}

.adv-item__stats {
    grid-area: stats;
}

.adv-item__services {
    grid-area: services;
}