/* ------------------------ */
/* Custom properties        */
/* ------------------------ */

:root {

    --clr-yellow: #fede31;
    --clr-light: #fbf7da;
    --clr-semi-white: #fffef4;
    --clr-brown: #665800;
    --clr-green: #8CAE59;
    --clr-blue: #0088D2;
    --clr-gray: #BEBEBE;
    --clr-dark-gray: #6D6D6D;
    --clr-golden: #d3c68c;

    --clr-hint-background: #fff9e0;
    --clr-hint-border: #ffe856;

    --clr-input-background-default: #f4f4f4;
    --clr-input-filled: #fcf8df;

    --clr-cross: #ffdd00;

    --fz-default: 23px;
}

/* ------------------------ */
/* Reset                    */
/* ------------------------ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove bold style from headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html {
    max-height: 100vh;
}

/* Set core body defaults */
body {
    font-family: 'ZabraProRegular', sans-serif;
    font-size: var(--fz-default);
    background-color: var(--clr-light);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a[class] {
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    padding: 0;
    margin: 0;
    min-width: 0;
    outline: none;
    border: none;
    background-color: transparent;
}

/* remove arrows from number input fields */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ------------------------ */
/* Base                     */
/* ------------------------ */

span:not([class]):empty {
    margin: 0 !important;
}

input,
select {
    border: 1px solid #E3DCB2;
    border-radius: 5px;
    padding: 0 15px;
}

*[role='checkbox'] {
    cursor: pointer;
}

/* ------------------------ */
/* Utilities                */
/* ------------------------ */

.lock {
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 30px;
}

.flex {
    display: flex;
}

.flex > *:not(:last-child) {
    margin-right: var(--flex-gap);
}

.grid {
    display: grid;
}

.bottom-line {
    border-bottom: 1px solid var(--clr-gray);
}

.top-line {
    border-top: 1px solid var(--clr-gray);
}

.flow > * + * {
    margin-top: var(--flow-gap, 1rem);
}

.avatar-circle {
    border-radius: 50%;
}

.avatar-square {
    border-radius: 1px;
}

.show-on-adv-item-hover {
    opacity: 0;
}

.adv-item:hover .show-on-adv-item-hover {
    opacity: 1;
}

.ptr:hover {
    cursor: pointer;
}

/* ------------------------ */
/* Components               */
/* ------------------------ */

/* clear field cross */
.cross {
    display: grid;
    aspect-ratio: 1;
    place-content: center;
}

/* layout */
.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
}

/* red bubble */
.bubble--red {
    position: absolute;
    top: -80%;
    left: 20%;
    background-color: #ff6a6a;
    border-radius: 15px;
    z-index: 1;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 5px;
    box-shadow: 0 0 0 4px var(--bubble-border, #fff);
}

.bubble--red:empty {
    display: none;
}

/* clear field cross */
.cross {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

.cross > .hint__text {
    top: 50px;
    font-size: 16px;
    font-weight: 400;
    width: 200px;
}

/* copy link modal */
.copy-link-modal {
    width: 300px;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 100%;
    display: none;
    z-index: 20;
    padding-right: 10px;
}

.copy-link-modal > * {
    border: 1px solid var(--clr-gray);
    display: block;
    padding: 5px;
}

.copy-link-modal__url {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    color: #000;
    background-color: #efeaea;
    border-bottom: none;
}

.copy-link-modal__url.ovf:after {
    content: '...';
    display: inline-block;
    position: absolute;
    right: 0;
    background-color: #efeaea;
    padding-inline: 5px;
}

.copy-link-modal__btn {
    color: var(--clr-dark-gray);
    background-color: #fff;
    white-space: nowrap;
}

.copy-link-modal__btn:hover {
    background-color: #e0dfdf;
}

/* hint */
.hint {
    position: relative;
}

.hint:hover .hint__text {
    display: block;
}

.hint__text {
    position: absolute;
    display: none;
    top: 40px;
    left: 0;
    z-index: 5;
    color: var(--clr-brown);
    font-size: 20px;
    white-space: nowrap;
    background-color: var(--clr-hint-background);
    padding: 10px 25px 14px 25px;
    border: 2px solid var(--clr-hint-border);
    transition: .3s;
}

.hint__text:before {
    position: absolute;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    top: 0;
    left: 15px;
    transform: rotate(45deg) translateY(calc(-50% - 4px));
    background-color: var(--clr-hint-background);
    border: 2px solid var(--clr-hint-border);
    border-right: none;
    border-bottom: none;
}

.hint__text--center {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.hint__text--center:before {
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

/* modal */
.modal {
    display: none;
    place-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
}

.modal__content {
    position: relative;
    background-color: #fff;
}

.modal__content {
    padding: 80px;
}

.modal--visible {
    display: grid;
}

.modal__close-btn {
    color: #fff;
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    top: 0;
    right: -60px;
    transition: .3s;
}

.modal__close-btn:hover {
    color: #fac56b;
}

/* tab-links */
.tab-links .active {
    color: var(--clr-blue);
    border-bottom: 1px dotted;
}

.tab-links--red .active {
    color: #ff0000;
}

.tab-link span {
    pointer-events: none;
}

/* checkbox */
.checkbox {
    position: relative;
    min-width: var(--checkbox-size, 30px);
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    border-radius: 7px;
    background: linear-gradient(0deg, #E6E6E7 0%, #F4F5F6 100%), #E3DCB2;
}

.checkbox.active .checkbox__inner {
    background-color: #FFDD00;
}

.checkbox__inner {
    width: 13px;
    height: 13px;
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px #E4DDB4;
    padding: 2px;
    background-color: #fff;
    pointer-events: none;
}

/* select */
.select {
    display: flex;
    align-items: center;
    border: 1px solid #E3DCB2;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    padding-left: 5px;
}

.select[aria-expanded="false"][data-empty="true"] {
    background-color: var(--clr-input-background-default);
}

.select__body {
    flex-grow: 1;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    padding-inline: 5px;
}

.select[data-empty="false"] .select__body {
    height: calc(100% - 10px);
}

.select[data-empty="false"] .select__body {
    background-color: var(--clr-input-filled);
}

.select__list {
    border: 1px solid #E3DCB2;

    display: none;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: calc(100% + 2px);
    top: 100%;
    left: -1px;
}

.select__list > li {
    padding: 5px 15px;
}

.select__list > li > .icon {
    pointer-events: none;
}

.select__list > li:not(.category) {
    color: var(--clr-brown);
    padding-left: 30px;
}

.select__list > li.category {
    pointer-events: none;
    color: var(--clr-brown);
    background-color: var(--clr-golden);
}

.select__body .text {
    padding-bottom: .2em;
}

.select .icon:not(.cross) {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
}

.select .text,
.select .text + .icon {
    color: var(--clr-brown);

}

.select[data-empty="true"] .select__body .text {
    color: var(--clr-gray);
}

.select[data-empty="true"] .cross {
    display: none;
}

.select[aria-expanded='true'] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select[aria-expanded='true'] .select__body > .icon {
    transform: rotate(180deg);
}

.select[aria-expanded='true'] .select__list {
    display: block;
}

.select__list li:hover {
    color: var(--clr-brown);
}

.select__list li[data-default='true'] {
    opacity: .6;
}

.select__list li[data-selected='true'] {
    color: var(--clr-gray);
}

@media (hover: hover) {
    .select[aria-expanded="false"]:hover {
        background-color: #fff;
        border-color: transparent;
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, .1);
    }

    .select__list > li:hover {
        background-color: yellow;
    }
}

/* 'fade' effect on overflowing text */
.ovf-fade {
    position: relative;
    overflow: hidden;
}

.ovf-fade:after {
    position: absolute;
    content: '';
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background:linear-gradient(90deg, transparent 60%, var(--ovf-fade-clr, #fff));
}

/* action-btn */
.action-btn {
    display: block;
    border-radius: 5px;
    background-color: #FFC000;
    color: var(--clr-brown);
    padding: .3em 1.1em;
}

.action-btn--red {
    color: #fff;
    background-color: #FF4949;
}

.action-btn.disabled {
    pointer-events: none;
    background: linear-gradient(0deg, #E6E6E7 0%, #F4F5F6 100%), #E3DCB2;
}

/* PRIMARY HEADER */
.primary-header {
    min-height: 100px;
    background-color: var(--clr-yellow);
    display: flex;
    flex-direction: column;
}

.primary-header > * {
    flex-grow: 1;
    border-bottom: 1px solid #ffe53b;
}

/* content-header */
.content-header {
    margin: 30px 0;
}
.content-header h1 {
    color: #665800;
    font-family: 'ZabraProMedium', sans-serif;
    font-size: 33px;
}

/* breadcrumb */
.breadcrumb ul {
    display: flex;
}

.breadcrumb a {
    color: #665800;
    text-decoration: none;
    font-size: 23px;
}

.breadcrumb li:not(:last-child) a {
    border-bottom: 1px dotted #463d00;
}

.breadcrumb li:not(:last-child):after {
    color: #665800;
    margin: 0 7px;
    font-size: 23px;
    display: inline-block;
    content: '/';
}

.breadcrumb li:last-child a {
    pointer-events: none;
    text-decoration: none;
}

/* white background on several components */
.filters .container,
.actions.container,
.ads .container {
    background-color: var(--clr-semi-white);
}

/* common styles for all filters and actions*/
.filters,
.actions {
    font-size: 21px;

}
.adv-filter-state a,
.adv-filter-type a,
.adv-filter-period a {
    color: var(--clr-brown);
    text-decoration: none;
}

.filters .icon {
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    top: 0;
    right: 0;
    display: grid;
    place-content: center;
    font-size: 18px;
}

.filters .cross,
.select .cross {
    font-size: 12px;
    height: calc(100% - 10px);
    margin: 5px;
    background-color: var(--clr-input-filled);
    color: orange;
}

.filters .cross:hover {
    background-color: #fff4ab;
}

.filters .container {
    padding-block: 15px;
}

/* adv-top-filters */
.adv-top-filters > .flex {
    justify-content: space-between;
    flex-wrap: wrap;
}

/* adv-filter-state */
.adv-filter-state ul {
    flex-wrap: wrap;
}

.adv-filter-state a > span + span {
    margin-left: 5px;
}

/* input filters */
.adv-input-filters {
    color: var(--clr-gray);
}

.adv-input-filters input {
    color: #7a7a7a;
}

.adv-input-filters > .flex {
    justify-content: space-between;
    flex-wrap: wrap;
}

.adv-input-filters .container {
    background-color: var(--clr-input-background-default);
}

.adv-input-filters *[data-empty="true"] .cross {
    display: none;
}

.adv-input-filters *[data-empty="false"] .cross-sibling {
    right: 40px;
}

.adv-input-filters input,
.adv-input-filters select,
.adv-input-filters .select {
    padding: .3em 1em;
}

.adv-input-filters input {
    padding-bottom: .4em;
}

.action-btn {
    padding-bottom: .5em;
}

.adv-input-filters span.placeholder {
    padding-bottom: .2em;
}

.adv-input-filters select {
    height: 100%;
}

.adv-input-filters input {
    padding-right: 45px;
}

/* common styles for date and price filters */

.adv-filter-date > *,
.adv-filter-price > * {
    min-width: 0;
    position: relative;
}

.adv-filter-date input,
.adv-filter-price input {
    max-width: 100%;
}

.adv-filter-date > *:first-child input,
.adv-filter-price > *:first-child input {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.adv-filter-date > *:last-child input,
.adv-filter-price > *:last-child input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* adv-filter-date */
.adv-filter-date {
    max-width: 300px;
}

/* adv-filters-price */
.adv-filter-price {
    max-width: 400px;
}

.adv-filter-price > *:first-child input {
    padding-left: 90px;
}

.adv-filter-price > *:last-child input {
    padding-left: 40px;
    padding-right: 65px;
}

.adv-filter-price .placeholder {
    position: absolute;
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
    height: 100%;
    top: 0;
    left: 0;
    color: var(--clr-gray);
}

.adv-filter-price > * {
    position: relative;
}

/* adv-filter-region */
.adv-filter-region {
    display: flex;
    align-items: stretch;
}

.adv-filter-region span.text {
    position: relative;
}

.adv-filter-region span:not(.text) {
    font-size: 13px;
}

/* adv-filter-title */
.adv-filter-title {
    position: relative;
}

.adv-filter-title input {
    padding-right: 65px;
}

/* adv-filter-periods */

/* actions */
.actions > .flex {
    justify-content: space-between;
    padding: 16px 0 16px 15px;
}

.action-sort {
    min-width: 350px;
}

.action-sort,
.action-btn {
    min-height: 50.4px;

}

/* adv-item */
.adv-item {
    color: var(--clr-dark-gray);
}

.adv-item a {
    /*display: inline-block;*/
    text-decoration: none;
    border-bottom: 1px dotted;
    font-family: 'ZabraProMedium', sans-serif;
    font-size: 18px;
}

.adv-item__state a {
    color: #ff2398;
}

.adv-item__state a:hover {
    color: #e71884;
}

.adv-item__services a {
    color: magenta;
}

.adv-item__services a:hover {
    color: #e101e1;
}

.adv-item__rating a {
    color: #ff0000;
}

 .adv-item__rating a:hover {
    color: #b90000;
}

.adv-item__edit-btns a {
    color: var(--clr-dark-gray);
}

.adv-item__edit-btns a:hover {
    color: var(--clr-gray);
}

.adv-item__links li > span.icon,
.adv-item__links a {
    color: purple;
}

.adv-item__links li > span.icon:hover,
.adv-item__links a:hover {
    color: #be01be;
}

.adv-item__title {
    color: var(--clr-blue);
}

.adv-item__title span.text {
    display: block;
    white-space: nowrap;
    width: 100%;
}

.adv-item__price {
    font-family: 'ZabraProMedium', sans-serif;
}

.adv-item__stats .icon {
    color: #afafaf;
    font-size: 18px;
    margin-right: 5px;
    position: relative;
}

.adv-item__stats .new-messages {
    margin-left: 5px;
}

.adv-item__stats .dialogs {
    margin-left: 5px;
}

.adv-item__stats .responses,
.adv-item__stats .matching-vacancies {
    color: var(--clr-blue);
}

.adv-item__stats .dialogs {
    position: relative;
}

.adv-item__stats > *:hover {
    color: var(--clr-blue);
}

.adv-item__stats > *:hover .icon {
    color: #50b0e7
}

@media (hover: hover) {
    .adv-item__stats .views:hover,
    .adv-item__stats .favourites:hover,
    .adv-item__stats .dialogs:hover {
        color: var(--clr-blue);
    }
}

.adv-item__links > li {
    position: relative;
}

@media (hover: hover) {
    .adv-item__links > li:hover .copy-link-modal {
        display: block;
    }
}

.adv-item__city-list > li span.text {
    white-space: pre;
}

.adv-item__city-list > li span.text:before {
    display: inline-block;
    content: 'г. ';
}

.adv-item__city-list .service-item a {
    color: #ff4d00;
}

.adv-item__city-list .service-item a:hover {
    color: orange;
}

.adv-item__get-more-responses a {
    color: var(--clr-green);
}

.adv-item__get-more-responses a:hover {
    color: #577039;
}

.adv-item__rating {
    font-size: 18px;
}

.adv-item__services-content > article:not(:last-child) {
    border-bottom: 1px solid var(--clr-gray);
}

.growth {
    color: var(--clr-green);
}

/* ------------------------ */
/* Layout                   */
/* ------------------------ */

/* ads */
.ads > .container {
    padding-bottom: 30px;
}

/* ads__field-names */
.ads__field-names {
    column-gap: 1%;
    grid-template-columns: 10% 23% 13% 1fr 8%;
    padding: 15px;
}

.ads__field-names span {
    font-size: 16px;
    display: grid;
    line-height: 1;
    align-content: center;
}

.ads__field-names--big {
    display: flex;
    flex-wrap: nowrap;
}

.ads__field-names--big > * {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.ads__field-names span:nth-child(1) {
    grid-column: 2 / 3;
}

/* ads__items */
.ads__items > *:nth-child(odd) {
    background-color: var(--clr-light);
}

.ads__items > *:nth-child(odd) .ovf-fade:after {
    --ovf-fade-clr: var(--clr-light);
}

.ads__items > *:nth-child(odd) .bubble--red {
    --bubble-border: var(--clr-light);
}

/* adv-item */
.adv-item {
    grid-template-columns: 3% 6% 23% 13% 1fr 8%;
    grid-template-rows: auto repeat(3, 28px) 1fr;
    column-gap: 1%;
    grid-template-areas:
    '    .       .  state    state     state state'
    'checkbox img left-block city-list stats services'
    'checkbox img left-block city-list rating services'
    'checkbox img left-block city-list rating        .'
    '.        .       .      city-list get-more-responses .'
    '.        .       .      city-list links .';
}


.ads__field-names--big > *:nth-child(4),
.ads__field-names--big > *:nth-child(5),
.ads__field-names--big > *:nth-child(6),
.adv-item__stats > *:nth-child(4),
.adv-item__stats > *:nth-child(5),
.adv-item__stats > *:nth-child(6) {
    flex: 0 0 70px;
}

.adv-item {
    position: relative;
    line-height: 28px;
    padding: 30px 15px;
}

.adv-item:after {
    z-index: 2;
    opacity: .4;
    position: absolute;
    content: '';
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.adv-item[data-state="closed"]:after {
    display: block;
    background: url(../img/bg-closed.jpg) center / 100% 100% no-repeat;
}

.adv-item[data-state="blocked"]:after {
    display: block;
    background: url(../img/bg-blocked.jpg) center / 100% 100% no-repeat;
}

.adv-item[data-state="rejected"]:after {
    display: block;
    background: url(../img/bg-rejected.jpg) center / 100% 100% no-repeat;
}


.adv-item:hover:after {
    display: none;
}

.adv-item__state {
    grid-area: state;
    font-size: 18px;
    line-height: 1.2;
}

.adv-item__state .icon .path1:before {
    color: #ff8800 !important;
}

.adv-item__state .info {
    margin-bottom: 20px;
}

.adv-item__state .info .expires {
    color: #000;
}

.adv-item__state .info .time {
    margin-right: 7px;
}

.checkbox {
    grid-area: checkbox;
    align-self: center;
}

.adv-item__img {
    grid-area: img;
    display: grid;
    align-content: center;
}

.adv-item__img > div {
    display: grid;
    place-content: center;
    overflow: hidden;
    box-shadow: 0 0 0 4px #fff, 0 0 0 5px #E3E6E9;
    width: 100%;
    max-height: 100%;
    aspect-ratio: 1;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff;
}

.adv-item__img > div > * {
    width: 90%;
    margin: 0 auto;
}

.adv-item__left-block {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    grid-area: left-block;
}

.adv-item__edit-btns {
    --flex-gap: 10px;
    flex-wrap: wrap;
}

.adv-item__city-list {
    position: relative;
    align-self: start;
    grid-area: city-list;
}

.adv-item__city-list > li > div {
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;
}

.adv-item__city-list > li:hover span.icon {
    flex: 0 0 15px;
    margin-right: 7px;
}

.adv-item__city-list .service-item {
    position: absolute;
    top: calc(100% + 0px);
}

.adv-item__city-list span.icon {
    display: inline-block;
    flex: 0 0 0;
    overflow: hidden;
    cursor: pointer;
    color: #ff0000;
    font-size: 16px;
    transition: flex .3s;
}

.adv-item__rating {
    position: relative;
    grid-area: rating;
}

.adv-item__rating > p {
    position: relative;
    top: 2px;
}

.adv-item__links {
    padding-right: 40px;
    justify-self: start;
    position: relative;
    grid-area: links;
    transition: height .3s ease;
}

.adv-item__links .icon {
    font-size: 16px;
    margin-right: 5px;
}

.adv-item__links .service-item {
    position: absolute;
    top: 0;
    right: 0;
}

.adv-item__links[aria-expanded="true"] .service-item {
    position: relative;
}

.adv-item__get-more-responses {
    justify-self: start;
    align-self: center;
    grid-area: get-more-responses;
}

.adv-item__stats {
    grid-area: stats;
}

.adv-item__stats > * {
    width: 100%;
    cursor: default;
    text-align: center;
}

.adv-item__stats span.icon {
    align-self: center;
}

.adv-item__services {
    grid-area: services;
    place-self: start;
}

.adv-item__services-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);

    /*display: grid;*/
    display: none;
    place-content: center;
}

.adv-item__services-content {
    background-color: #fff;
    padding: 0 30px;
}

.adv-item__services-content h4 {
    text-align: center;
    margin-bottom: 10px;
}

.adv-item__services-content > article {
    padding: 10px 0;
}



/* service */
.service {
    line-height: 1;
    column-gap: 20px;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
    'img info'
    'img info';
}

.service a {
    text-decoration: none;
    color: #ff0000;
    border-bottom: 1px dotted #a90101;
}

.service a:hover {
    color: #c50000;
}

.service + .service {
    border-top: 1px solid var(--clr-gray);
}

.service__img {
    width: 60px;
    aspect-ratio: 1;
    grid-area: img;
    place-self: center;
}

.service__img > * {
    width: 100%;
    height: 100%;
}

.service__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service__info > * {
    white-space: nowrap;
}

.service__title {
    grid-area: title;
}

.service__period {
    font-size: 16px;
}

.services-header {
    line-height: 1;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}