@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sug17c');
  src:  url('fonts/icomoon.eot?sug17c#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sug17c') format('truetype'),
    url('fonts/icomoon.woff?sug17c') format('woff'),
    url('fonts/icomoon.svg?sug17c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross-svgrepo-com:before {
  content: "\e900";
}
.icon-right_arrow_icon_224556:before {
  content: "\e906";
}
.icon-left_arrow_icon_224523:before {
  content: "\e907";
}
.icon-up-arrow_icon-iconscom_73351:before {
  content: "\e908";
}
.icon-arrows_up_upload_icon_123735:before {
  content: "\e909";
}
.icon-arrow_down_download_icon_123737:before {
  content: "\e90a";
}
.icon-down-arrow_icon-iconscom_73047:before {
  content: "\e90b";
}
.icon-currency_rub_icon_173204:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90d";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-cross:before {
  content: "\ea0f";
}
