@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bh6vc8');
  src:  url('fonts/icomoon.eot?bh6vc8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bh6vc8') format('truetype'),
    url('fonts/icomoon.woff?bh6vc8') format('woff'),
    url('fonts/icomoon.svg?bh6vc8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e904";
}
.icon-warn-triangle .path1:before {
  content: "\e901";
  color: rgb(0, 0, 0);
}
.icon-warn-triangle .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-warn-triangle .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cross-svgrepo-com:before {
  content: "\e900";
}
.icon-right_arrow_icon_224556:before {
  content: "\e906";
}
.icon-left_arrow_icon_224523:before {
  content: "\e907";
}
.icon-arrows_up_upload_icon_123735:before {
  content: "\e909";
}
.icon-arrow_down_download_icon_123737:before {
  content: "\e90a";
}
.icon-currency_rub_icon_173204:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90d";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-cross:before {
  content: "\ea0f";
}
